<!-- JS permettant de créer x liste de tâche qui viendront remplir le flow en cours de création -->
<script>
    $("#btn-addSelect").click(function(){
        var orderTask = 2;
        var divSelect = document.getElementById("");
        divSelect.className = " ";
        var divBtn = document.getElementById("btn-addSelect");
        divBtn.className = "hidden";
        document.getElementById("").value = value;
        var orderTask++;
    });
</script>

<!--
	Création du formulaire de création du flow
-->
<div class="row">
    <div class="form-group col-md-12">
        <form action="" method="post">
            <div class="form-group">
            	<label for="name_flow">Nom du flow : </label>
                <input type="text" class="form-control col-md-5" id="name_task"><BR>
            </div>
            <div class="form-group">
<?php
        	$dataTask = $_POST['tasks'];
            	$dataTask = array('ssh', 'ls', 'tar', 'rm', 'poweroff', 'reboot');	
?>
                <label for="select_task">Sélection de la tâche 1</label>
        	<select class="form-control col-md-8" name="select_task" id="select_task" type="select">
<?php
                        foreach ($dataTask as $key => $value) {
                            echo '<option value="'. $value .'">'. $value .'</option>';
                        }
?>
               	</select>
             </div>
	     <div class="form-group">
<?php
        	$dataTask = $_POST['tasks'];
            	$dataTask = array('ssh', 'ls', 'tar', 'rm', 'poweroff', 'reboot');
        		
?>
                    	<label for="select_task2">Sélection de la tâche 1</label>
        		<select class="form-control col-md-8" name="select_task2" id="select_task2" type="select">

<?php
                        foreach ($dataTask as $key => $value) {

                            echo '<option value="'. $value .'">'. $value .'</option>';

                        }
?>
                    	</select>
               </div>
        	<button type="submit" value="Envoyer" class="form-control btn btn-primary col-md-3">Envoyer</button> <button type="reset" value="Effacer" class="form-control btn btn-warning col-md-3">Effacer</button>
        </form>
    </div>
</div>
